.link,
a {
  color: #7a80e9;
  text-decoration: none;
}

.link:hover,
a:hover {
  color: #9da2ff;
  cursor: pointer;
  text-decoration: none;
}

.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 50px;
  min-height: 50px;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.15);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
}

.button:disabled,
.button:disabled:hover {
  background-color: rgb(255, 255, 255, 0.05);
  color: rgb(150, 150, 150);
  cursor: default;
}

.button:hover {
  color: white;
  background-color: rgb(255, 255, 255, 0.23);
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

.capitalize {
  text-transform: capitalize;
}
