.rect {
  width: 35px;
  height: 18px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.attribute {
  text-align: left;
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
}

.attribute-bar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid rgb(201, 201, 201);
}

.attribute-bar > :not(:last-child) {
  border-right: 1px solid rgb(201, 201, 201);
}

.strength {
  background-color: var(--attribute-strength);
}

.dexterity {
  background-color: var(--attribute-dexterity);
}

.intelligence {
  background-color: var(--attribute-intelligence);
}

.vitality {
  background-color: var(--attribute-vitality);
}

.speed {
  background-color: var(--attribute-speed);
}