{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "types": "../../common/types",
          "common": "../../common/dist",
          "game-server": "../../common/game-server/dist"
        }
      }
    ]
  ]
}
